#menu
  border-right: 1px solid black
  position: absolute
  width: 250px
  left: 0px
  right: 20px
  top: 0
  bottom: 0
  a.menu
    color: $blue-strong
    text-decoration: none
    left: 10px
    &:hover 
      background-color: $light-grey

#menu-bar
  position: relative
  width: 200px
  margin: 0 0 0 auto
  text-align: right
    
#content
  position: absolute
  width: 1200px
  left: 365px
  right: 200px
  top: 40px
  h2 
    color: $blue-strong
    font-size: 1.6em
  h2.centered
    text-align: center
  table.data
    td.left
      font-weight: bold
      padding-right: 20px
      width: 30%
    td.right
      padding-left: 0px
      text-align: left
  table.menu-top
    td 
      padding: 10px
    a.menu
      color: $blue-strong
      text-decoration: none
      left: 10px
      &:hover 
        background-color: $light-grey
    a.menu-selected
      color: $blue-strong
      font-weight: bold
      text-decoration: none
      left: 10px
      &:hover 
        background-color: $light-grey
