div.file_class
  a
    color: black
  a.delete-file
    color: #1e8edc

div.file_upload
  select, input[type="text"]
    font-size: 14px
    border: 1px solid #EEEEEE
    padding: 2px
    background: white
  input[type="file"]
    font-size: 14px
    border: 1px solid #EEEEEE
    padding: 2px
    background: #EEEEEE
  input[type="submit"]
    font-size: 14px
